html {
  font-family: "Raleway", sans-serif;
  height: 100%; }

body {
  background: black;
  height: 100%;
  padding-top: 0; }

header {
  height: 100%;
  width: 100%;
  margin-top: 0;
  z-index: 2; }
  header div#background {
    background: url(../_images/back_1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 0;
    position: fixed;
    z-index: -2; }
    header div#background video {
      min-height: 100%;
      max-height: 200%;
      min-width: 100%;
      position: fixed;
      top: 0;
      left: 35%;
      -webkit-transform: translateX(-35%);
      -moz-transform: translateX(-35%);
      -o-transform: translateX(-35%);
      -ms-transform: translateX(-35%);
      transform: translateX(-35%); }
  header div#filter {
    position: fixed;
    top: 0;
    opacity: 1;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 1950;
    -webkit-transition: 1s ease-in-out 0s;
    -moz-transition: 1s ease-in-out 0s;
    -o-transition: 1s ease-in-out 0s;
    -ms-transition: 1s ease-in-out 0s;
    transition: 1s ease-in-out 0s; }
  header section.header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center; }
    header section.header h1 {
      margin: 0;
      color: white;
      font-weight: 600;
      letter-spacing: 0em;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: 28pt; }
      header section.header h1 span {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.8); }
    header section.header h2 {
      margin: 20px 0px 0px 0px;
      letter-spacing: 0.1em;
      color: white;
      font-weight: 600;
      font-size: 12pt;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-transform: uppercase; }
  header section.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    box-shadow: 0 0 0 0 black;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000; }
    header section.intro img {
      position: fixed;
      z-index: 2000; }
    header section.intro img#logo_1 {
      right: 150px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      opacity: 1;
      -webkit-transition: 0.5s ease-out 0s;
      -moz-transition: 0.5s ease-out 0s;
      -o-transition: 0.5s ease-out 0s;
      -ms-transition: 0.5s ease-out 0s;
      transition: 0.5s ease-out 0s; }
    header section.intro img#logo_2 {
      left: 150px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      opacity: 1;
      -webkit-transition: 0.5s ease-out 0s;
      -moz-transition: 0.5s ease-out 0s;
      -o-transition: 0.5s ease-out 0s;
      -ms-transition: 0.5s ease-out 0s;
      transition: 0.5s ease-out 0s; }

nav {
  width: 90%;
  max-width: 1080px;
  background: #572539;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0; }
  nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    nav ul li {
      display: inline-block;
      width: 32%;
      height: 100px;
      line-height: 100px; }
      nav ul li a {
        text-align: center;
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 10pt;
        opacity: 0.5;
        -webkit-transition: 0.2s ease-in 0s;
        -moz-transition: 0.2s ease-in 0s;
        -o-transition: 0.2s ease-in 0s;
        -ms-transition: 0.2s ease-in 0s;
        transition: 0.2s ease-in 0s; }
      nav ul li a:hover {
        opacity: 1;
        letter-spacing: 0.2em;
        -webkit-transition: 0.3s ease-out 0s;
        -moz-transition: 0.3s ease-out 0s;
        -o-transition: 0.3s ease-out 0s;
        -ms-transition: 0.3s ease-out 0s;
        transition: 0.3s ease-out 0s; }

main {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  z-index: 0;
  height: 100%; }
  main section.aboutme {
    height: 70%; }
    main section.aboutme div#aboutbgrnd {
      background: url(../_images/back_1.jpg) center center;
      background-size: cover; }
    main section.aboutme div.fullscreen div#abouttext {
      width: 50%;
      background: white;
      padding-top: 50px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5); }
      main section.aboutme div.fullscreen div#abouttext h1 {
        margin: 0 0 0 10%;
        text-transform: uppercase;
        font-size: 16pt;
        color: #572539;
        letter-spacing: 0.15em; }
      main section.aboutme div.fullscreen div#abouttext h2 {
        margin: 10px 0 0 10%;
        font-size: 10pt;
        color: #333333;
        letter-spacing: 0.15em;
        font-weight: 600;
        opacity: 0.8; }
      main section.aboutme div.fullscreen div#abouttext p {
        width: 80%;
        margin: 50px 0 0 10%;
        line-height: 180%;
        font-size: 10pt;
        font-weight: 600;
        color: #333333;
        padding-bottom: 50px; }
        main section.aboutme div.fullscreen div#abouttext p a {
          text-decoration: none;
          color: #572539;
          font-size: 10pt;
          font-weight: 800;
          letter-spacing: 0.05em;
          -webkit-transition: 0.2s ease-in 0s;
          -moz-transition: 0.2s ease-in 0s;
          -o-transition: 0.2s ease-in 0s;
          -ms-transition: 0.2s ease-in 0s;
          transition: 0.2s ease-in 0s;
          width: 50px;
          display: inline-block;
          text-align: center; }
        main section.aboutme div.fullscreen div#abouttext p a:hover {
          letter-spacing: 0.15em;
          -webkit-transition: 0.3s ease-out 0s;
          -moz-transition: 0.3s ease-out 0s;
          -o-transition: 0.3s ease-out 0s;
          -ms-transition: 0.3s ease-out 0s;
          transition: 0.3s ease-out 0s; }
  main section.mywork {
    height: 1900px; }
    main section.mywork div#workbgrnd {
      height: 1950px;
      background: white; }
    main section.mywork ul {
      position: relative;
      top: 100px;
      height: 150px; }
      main section.mywork ul li:nth-child(1) a div.colorproject {
        left: 0;
        background: #264A5F; }
      main section.mywork ul li:nth-child(2) a div.colorproject {
        right: 0;
        background: #252725; }
      main section.mywork ul li:nth-child(3) a div.colorproject {
        left: 0;
        background: #CB2C2F; }
      main section.mywork ul li:nth-child(4) a div.colorproject {
        right: 0;
        background: #736153; }
      main section.mywork ul li:nth-child(2) a h2, main section.mywork ul li:nth-child(4) a h2 {
        right: 10%;
        left: inherit; }
      main section.mywork ul li {
        display: block;
        width: 100%;
        height: 400px;
        margin-top: 50px;
        background: white; }
        main section.mywork ul li a {
          position: absolute;
          width: 100%;
          height: 400px;
          display: block;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
          -webkit-transition: 0.2s ease-in 0s;
          -moz-transition: 0.2s ease-in 0s;
          -o-transition: 0.2s ease-in 0s;
          -ms-transition: 0.2s ease-in 0s;
          transition: 0.2s ease-in 0s; }
          main section.mywork ul li a div.colorproject {
            position: absolute;
            height: 400px;
            width: 0%;
            -webkit-transition: 0.2s ease-in 0s;
            -moz-transition: 0.2s ease-in 0s;
            -o-transition: 0.2s ease-in 0s;
            -ms-transition: 0.2s ease-in 0s;
            transition: 0.2s ease-in 0s; }
          main section.mywork ul li a p.left {
            right: inherit;
            left: 5%;
            text-align: left; }
          main section.mywork ul li a p {
            width: 45%;
            text-align: right;
            position: absolute;
            right: 5%;
            margin: 20px 0 20px 0;
            color: #323232;
            font-size: 10pt;
            font-weight: 400;
            opacity: 0.8;
            -webkit-transition: 0.2s ease-in 0s;
            -moz-transition: 0.2s ease-in 0s;
            -o-transition: 0.2s ease-in 0s;
            -ms-transition: 0.2s ease-in 0s;
            transition: 0.2s ease-in 0s; }
            main section.mywork ul li a p span {
              opacity: 0.8;
              font-weight: 300; }
          main section.mywork ul li a p.introduction {
            text-align: left;
            left: 10%;
            width: 35%;
            top: 120px;
            line-height: 180%;
            z-index: 20;
            opacity: 1; }
          main section.mywork ul li a p.introduction.right {
            text-align: right;
            right: 10%;
            left: inherit; }
          main section.mywork ul li a h2 {
            font-size: 14pt;
            text-transform: uppercase;
            position: absolute;
            left: 10%;
            z-index: 20;
            top: 100px;
            margin: 0;
            color: #333333;
            letter-spacing: 0.2em; }
          main section.mywork ul li a div.img {
            height: 313px;
            position: relative;
            top: 57px;
            width: 90%;
            margin-left: 5%;
            overflow: hidden; }
            main section.mywork ul li a div.img img {
              width: 100%; }
        main section.mywork ul li a:hover {
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          -webkit-transition: 0.2s ease-in 0s;
          -moz-transition: 0.2s ease-in 0s;
          -o-transition: 0.2s ease-in 0s;
          -ms-transition: 0.2s ease-in 0s;
          transition: 0.2s ease-in 0s; }
          main section.mywork ul li a:hover div.colorproject {
            width: 100%;
            -webkit-transition: 0.3s ease-out 0s;
            -moz-transition: 0.3s ease-out 0s;
            -o-transition: 0.3s ease-out 0s;
            -ms-transition: 0.3s ease-out 0s;
            transition: 0.3s ease-out 0s; }
          main section.mywork ul li a:hover p {
            color: #fafafa;
            -webkit-transition: 0.3s ease-out 0s;
            -moz-transition: 0.3s ease-out 0s;
            -o-transition: 0.3s ease-out 0s;
            -ms-transition: 0.3s ease-out 0s;
            transition: 0.3s ease-out 0s; }
          main section.mywork ul li a:hover p.introduction {
            color: #333333; }
      main section.mywork ul li:first-child {
        margin-top: 0; }
  main section.contactme {
    height: 70%; }
    main section.contactme div#aboutbgrnd {
      background: url(../_images/back_1.jpg) center center;
      background-size: cover; }
    main section.contactme div.fullscreen {
      position: relative; }
      main section.contactme div.fullscreen div#abouttext {
        position: relative;
        left: 50%;
        top: 100%;
        width: 50%;
        background: white;
        padding-top: 50px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); }
        main section.contactme div.fullscreen div#abouttext div {
          position: absolute;
          top: -75px;
          right: 0; }
        main section.contactme div.fullscreen div#abouttext h1 {
          margin: 0 0 0 10%;
          text-transform: uppercase;
          font-size: 16pt;
          color: #572539;
          letter-spacing: 0.15em; }
        main section.contactme div.fullscreen div#abouttext h2 {
          margin: 10px 0 0 10%;
          font-size: 10pt;
          color: #333333;
          letter-spacing: 0.15em;
          font-weight: 600;
          opacity: 0.8; }
        main section.contactme div.fullscreen div#abouttext p {
          width: 80%;
          margin: 50px 0 0 10%;
          line-height: 180%;
          font-size: 10pt;
          font-weight: 600;
          color: #333333;
          padding-bottom: 50px; }
        main section.contactme div.fullscreen div#abouttext a {
          width: 50px;
          height: 50px;
          background: #572539;
          display: inline-block;
          text-align: center;
          line-height: 50px;
          text-decoration: none;
          margin-right: 10px;
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          overflow: hidden;
          -webkit-transition: 0.2s ease-in 0s;
          -moz-transition: 0.2s ease-in 0s;
          -o-transition: 0.2s ease-in 0s;
          -ms-transition: 0.2s ease-in 0s;
          transition: 0.2s ease-in 0s; }
          main section.contactme div.fullscreen div#abouttext a img {
            margin-top: 10px;
            width: 60%;
            -webkit-transition: 0.2s ease-in 0s;
            -moz-transition: 0.2s ease-in 0s;
            -o-transition: 0.2s ease-in 0s;
            -ms-transition: 0.2s ease-in 0s;
            transition: 0.2s ease-in 0s; }
        main section.contactme div.fullscreen div#abouttext a:last-child {
          margin-right: 0; }
        main section.contactme div.fullscreen div#abouttext a:hover {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
          -webkit-transition: 0.2s ease-in 0s;
          -moz-transition: 0.2s ease-in 0s;
          -o-transition: 0.2s ease-in 0s;
          -ms-transition: 0.2s ease-in 0s;
          transition: 0.2s ease-in 0s; }
        main section.contactme div.fullscreen div#abouttext button {
          position: static;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          margin-left: 10%;
          margin-bottom: 50px;
          opacity: 1;
          background: #572539;
          color: white; }

div.fullscreen {
  height: 100%; }

div.bgrnd {
  position: absolute;
  width: 100%;
  right: 0;
  height: 70%;
  z-index: -1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); }

button {
  position: fixed;
  top: 5%;
  width: 180px;
  height: 40px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background: white;
  color: #572539;
  border: none;
  font-size: 10pt;
  letter-spacing: 0.1em;
  font-weight: 400;
  right: 20%;
  opacity: 0.5;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: 0.2s ease-in 0s;
  -moz-transition: 0.2s ease-in 0s;
  -o-transition: 0.2s ease-in 0s;
  -ms-transition: 0.2s ease-in 0s;
  transition: 0.2s ease-in 0s; }

button:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: 0.2s ease-in 0s;
  -moz-transition: 0.2s ease-in 0s;
  -o-transition: 0.2s ease-in 0s;
  -ms-transition: 0.2s ease-in 0s;
  transition: 0.2s ease-in 0s; }

@media screen and (max-width: 720px) {
  main section.contactme div.fullscreen div#abouttext, main section.aboutme div.fullscreen div#abouttext {
    width: 100%; }

  main section.contactme div.fullscreen div#abouttext {
    left: 0; }

  main section.mywork ul li a p.left {
    width: 95%;
    display: block; }

  main section.mywork ul li a p {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
