//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//--------------------------------------------------------------------------------------------------SASS
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol

$text_color: #262d3a
$text_color2: white

$dataviz_1: #262d3a
$dataviz_2: #E57245

=transform($option)
	-webkit-transform: $option
	-moz-transform: $option
	-o-transform: $option
	-ms-transform: $option
	transform: $option

=translateX($pixels)
	+transform(translateX($pixels))

=translateY($pixels)
	+transform(translateY($pixels))

=translateXaY($pixels,$pixels2)
	-webkit-transform: translateX($pixels) translateY($pixels2)
	-moz-transform: translateX($pixels) translateY($pixels2)
	-o-transform: translateX($pixels) translateY($pixels2)
	-ms-transform: translateX($pixels) translateY($pixels2)
	transform: translateX($pixels) translateY($pixels2)

=rotateZ($deg)
	+transform(rotateZ($deg))

=scale($amount)
	+transform(scale($amount))

=transition($duration,$ease,$delay)
	-webkit-transition: $duration $ease $delay
	-moz-transition: $duration $ease $delay
	-o-transition: $duration $ease $delay
	-ms-transition: $duration $ease $delay
	transition: $duration $ease $delay

=giant_title()
	font-size: 3rem
	font-weight: 200

=gradient($color1,$color2)
	background: $color1
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2))
	background: -webkit-linear-gradient(top, $color1 0%,$color2 100%)
	background: -o-linear-gradient(top, $color1 0%,$color2 100%)
	background: -ms-linear-gradient(top, $color1 0%,$color2 100%)
	background: linear-gradient(to bottom, $color1 0%,$color2 100%)



//lolilolilolilolilolilolilolilolilolilolilolilolilol



//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//--------------------------------------------------------------------------------------------------HEADER
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol



html
	font-family: 'Raleway', sans-serif
	height: 100%

::selection 
	background: #262d3a
	color: $text_color2


::-webkit-selection 
	background: #262d3a
	color: $text_color2


::-moz-selection 
	background: #262d3a
	color: $text_color2


::-ms-selection
	background: #262d3a
	color: $text_color2


::-o-selection
	background: #262d3a
	color: $text_color2


body
	background: black
	height: 100%
	padding-top: 0

section.intro
	position: fixed
	top: 50%
	left: 50%
	height: 100px
	width: 200px
	box-shadow: 0 0 0 0 black
	+translateXaY(-50%,-50%)
	z-index: -500

	img
		position: fixed
		z-index: 2000

	img#logo_1
		right: 150px
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5)
		opacity: 1
		+transition(.5s, ease-out, 0s)

	img#logo_2
		left: 150px
		box-shadow: 0 0 5px 0 rgba(0,0,0,.5)
		opacity: 1
		+transition(.5s, ease-out, 0s)

div.filter
	position: fixed
	top: 0
	opacity: 1
	background: $text_color2
	width: 100%
	height: 100%
	z-index: -500
	+transition(1s, ease-in-out,0s)

header
	height: 500px
	width: 100%
	margin-top: 0

	z-index: 0

	div.background
		background: $text_color
		background-size: cover
		height: 100%
		width: 100%
		margin-top: 0
		position: fixed

		z-index: -2

		video
			min-height: 100%
			max-height: 200%
			min-width: 100%
			position: fixed
			top: -50%
			left: 35%
			+translateX(-35%)

	section.header
		position: absolute
		top: 100px
		width: 90%
		max-width: 1080px
		left: 50%
		z-index: -2
		+translateXaY(-50%,-50%)

		h1
			margin: 10px 0px 0px 100px
			letter-spacing: .1em
			color: $text_color2
			font-weight: 400
			font-size: 12pt
			text-shadow: 0 0 10px rgba(0,0,0,.5)

		div
			height: 75px
			width: 75px
			top: 7px
			box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
			position: relative
			overflow: hidden
			z-index: 5000
			float: left

			img
				height: 75px
				position: relative
				right: 0px
				+transition(.3s, ease-in-out, 0s)

header.credits.headerdataviz
	height: 250px

	div.background
		background: $text_color

nav
	width: 90%
	max-width: 1080px
	background: $text_color
	position: absolute
	top: 400px
	left: 50%
	+translateX(-50%)
	z-index: 0

	ul
		list-style: none
		width: 80%
		margin: 0 auto

		li
			display: inline-block
			width: 32%
			height: 100px
			line-height: 100px

			a
				text-align: center
				display: block
				height: 100%
				width: 100%
				text-decoration: none
				color: $text_color2
				font-weight: 400
				letter-spacing: .1em
				font-size: 10pt
				opacity: .5
				+transition(.2s, ease-in, 0s)

			a:hover
				opacity: 1
				letter-spacing: .2em
				+transition(.3s, ease-out, 0s)



//lolilolilolilolilolilolilolilolilolilolilolilolilol



//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//--------------------------------------------------------------------------------------------------DATAVIZ HEARDER
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol


header.headerdataviz
	height: 500px
	position: relative

	section.header
		top: 100px
		text-align: left
		width: 90%
		max-width: 1080px

		div
			height: 75px
			width: 75px
			box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
			position: relative
			overflow: hidden
			z-index: 5000

			img
				height: 75px
				position: relative
				right: 0px
				+transition(.3s, ease-in-out, 0s)

		div:hover
			cursor: pointer
			img
				right: 75px
				+transition(.3s, ease-in-out, 0s)


	div.background
		height: 500px
		background: url(../_images/back_dataviz_1.jpg) center center
		background-size: cover

nav.navdataviz
	background: $dataviz_1
	top: 400px
	bottom: inherit

	ul
		li
			width: 19%


//lolilolilolilolilolilolilolilolilolilolilolilolilol



//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//--------------------------------------------------------------------------------------------------MAIN CONTENT
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol

button
	padding: 0 20px 0 20px
	height: 40px
	border-radius: 5px
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3)
	font-size: 10pt
	letter-spacing: .1em
	font-weight: 400
	border: none

main
	position: relative
	z-index: 1
	section
		background: url(../_images/back_2.jpg) center center
		background-size: cover

		div.fullscreen
			height: 100%
			width: 90%
			max-width: 1080px
			margin: 0 auto

			div.text
				width: 50%
				background: white
				padding-top: 50px
				box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
				margin-bottom: 300px

				h1
					margin: 0 0 0 10%
					text-transform: uppercase
					font-size: 16pt
					color: $text_color
					letter-spacing: .15em
					width: 80%

				h2
					margin: 10px 0 0 10%
					font-size: 10pt
					color: #333333
					letter-spacing: .15em
					font-weight: 600
					opacity: .8
					width: 80%

				p
					width: 80% 
					margin: 50px 0 0 10%
					line-height: 180%
					font-size: 10pt
					font-weight: 600
					color: #333333
					padding-bottom: 50px

					a
						text-decoration: none
						color: $text_color
						font-size: 10pt
						font-weight: 800
						letter-spacing: 0.05em
						+transition(.2s, ease-in, 0s)
						width: 50px
						display: inline-block
						text-align: center

					a:hover
						letter-spacing: .15em
						+transition(.3s, ease-out, 0s)

	section.mywork
		height: 1900px
		background: white

		div.myworkfull
			height: 1950px

		ul
			position: relative
			top: 100px
			height: 150px

			li:nth-child(1) a div.colorproject
				left: 0
				background: #009999
			li:nth-child(2) a div.colorproject
				right: 0
				background: #264A5F

			li:nth-child(3) a div.colorproject
				left: 0
				background: #252725

			li:nth-child(4) a div.colorproject
				right: 0
				background: #e2572d

			li:nth-child(2) a h2, li:nth-child(4) a h2
				right: 10%
				left: inherit
			li
				display: block
				width: 100%
				height: 400px
				margin-top: 50px
				background: white

				a
					position: absolute
					width: 100%
					height: 400px
					display: block
					box-shadow: 0 0 3px 0 rgba(0,0,0,.4)
					+transition(.2s, ease-in, 0s)

					div.colorproject
						position: absolute
						height: 400px
						width: 0%
						padding-top: 0
						+transition(.2s, ease-in, 0s)

					p.left
						right: inherit
						left: 5%
						text-align: left

					p
						width: 45%
						text-align: right
						position: absolute
						right: 5%
						margin: 20px 0 20px 0
						color: rgb(50,50,50)
						font-size: 10pt
						font-weight: 400
						opacity: .8
						+transition(.2s, ease-in, 0s)

						span
							opacity: .8
							font-weight: 300

					p.introduction
						text-align: left
						left: 10%
						width: 35%
						top: 120px
						line-height: 180%
						z-index: 20
						opacity: 1

					p.introduction.right
						text-align: right
						right: 10%
						left: inherit


					h2
						font-size: 14pt
						text-transform: uppercase
						position: absolute
						left: 10%
						z-index: 20
						top: 100px
						margin: 0
						color: #333333
						letter-spacing: .2em

					div.img
						height: 313px
						position: relative
						top: 57px
						width: 90%
						overflow: hidden
						margin: 0 0 0 5%
						overflow: hidden
						padding: 0
						box-shadow: none

						img
							width: 100%
							min-width: 430px
							position: absolute
							left: 50%
							+translateX(-50%)

				a:hover
					box-shadow: 0 0 5px 0 rgba(0,0,0,.3)
					+transition(.2s, ease-in, 0s)

					div.colorproject
						width: 100%
						+transition(.3s, ease-out, 0s)

					p
						color: rgb(250,250,250)
						+transition(.3s, ease-out, 0s)

					p.introduction
						color: #333333

			li:hover

			
			li:first-child
				margin-top: 0

	div.fullscreen.textbottom
		position: relative

		div.threehundred
			height: 300px
			width: 100%

		div.text.righttext
			margin-bottom: 0
			div
				position: absolute
				top: -75px
				right: 0

				a
					width: 50px
					height: 50px
					background: $text_color
					display: inline-block
					text-align: center
					line-height: 50px
					text-decoration: none
					margin-right: 10px
					box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3)
					border-radius: 3px
					overflow: hidden
					+transition(.2s, ease-in, 0s)

					img
						margin-top: 10px
						width: 60%
						+transition(.2s, ease-in, 0s)

				a:last-child
					margin-right: 0

				a:hover
					+scale(1.05)
					box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4)
					+transition(.2s, ease-in, 0s)

			button
				position: static
				+translateX(0)
				margin-left: 10%
				margin-bottom: 50px
				opacity: 1
				background: $text_color
				color: $text_color2

section#contactme
	background: url(../_images/back_1.jpg) center center
	background-size: cover

div.bgrnd
	position: absolute
	width: 100%
	right: 0
	height: 70%
	z-index: -1
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3)

button.floating
	position: fixed
	top: 64px
	background: $text_color2
	color: $text_color
	z-index: 200
	right: 20%
	opacity: .5
	+translateX(50%)
	+transition(.2s, ease-in, 0s)

	a
		width: 100%
		height: 100%
		text-align: center
		display: block
		text-decoration: none
		color: $text_color
		line-height: 40px

button.floating:hover
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4)
	opacity: 1
	+transition(.2s, ease-in, 0s)



//lolilolilolilolilolilolilolilolilolilolilolilolilol



//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//---------------------------------------------------------------------------------------------------DATAVIZ CONTENT
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol

section.plaintext
	background: white
	div.fullscreen
		div.text
			margin-bottom: 0
			float: left
			background: none
			img
				margin-left: 10%
				opacity: .5

			h1
				color: $dataviz_1

		div.text:nth-child(3)
			float: none
			clear: both
			p
				margin: 25px 0 0 10%

		div.text:nth-child(4)
			margin-bottom: 100px

		div.addtext
			box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
			width: 50%
			background: white
			float: left
			margin: 0
			padding-bottom: 30px

			ul
				font-family: 'Courgette', cursive
				padding-left: 25px
				width: 80%
				margin-left: 5%

				li
					margin-bottom: 20px
					line-height: 180%
					font-size: 10pt
					font-weight: 500
					color: $dataviz_1
					text-transform: lowercase

	div.fullscreen::after
		content: ""
		display: block
		clear: both

section.plaintext.fourcorrel
	div.fullscreen
		div.text
			div.textimage
				overflow: hidden
				width: 80%
				margin: 50px 0 0 10%
				height: 300px
				box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
				img
					margin: 0
					height: 100%
					position: relative
					left: 50%
					+translateX(-50%)
					opacity: 1

		div.text:nth-child(3)
			float: left
			clear: none
			margin-bottom: 50px

		div.text:nth-child(1), div.text:nth-child(2)
			margin-bottom: 50px

section.plaintext.staticdynamic
	div.fullscreen
		div.text
			img
				width: 80%
				opacity: 1
				box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
		div.text:nth-child(3)
			float: left

		div.text:nth-child(1)
			float: right

section
	div.fullscreen
		div.text.noshadow
			box-shadow: none


div.text.righttext
	position: relative
	left: 50%
	top: 100%

section.forworddataviz
	background: url(../_images/back_dataviz_2.jpg) center center
	background-size: cover

	div.fullscreen
		div.text
			h1
				color: $dataviz_1

section.goodnessdataviz
	background: url(../_images/back_dataviz_3.jpg) center center
	background-size: cover

	div.fullscreen
		div.text
			h1
				color: $dataviz_1

section.identitydataviz
	background: url(../_images/back_dataviz_4.jpg) center center
	background-size: cover

	div.fullscreen
		div.text
			h1
				color: $dataviz_1

section.link
	background: url(../_images/back_dataviz_5.jpg) center center
	background-size: cover
	height: 200px
	div
		height: 200px
		width: 100%
		margin: 0
		padding-top: 25px


		img
			display: block
			width: 40px
			height: 40px
			margin: 30px auto 25px auto 
		p
			margin: 0
			line-height: 180%
			font-size: 10pt
			font-weight: 800
			letter-spacing: .1em
			text-align: center
			text-transform: uppercase
			+transition(.2s, ease-in, 0s)
			color: $text_color2
			opacity: .8

	div:hover
		cursor: pointer
		p
			letter-spacing: .15em
			+transition(.2s, ease-in, 0s)

section.contribution
	background: $text_color2
	padding-top: 50px
	div.fullscreen
		position: relative
		p
			margin: 0
			line-height: 180%
			font-size: 10pt
			font-weight: 600
			color: #333333
		div.text.noshadow
			margin: 0
			box-shadow: none
			h1
				color: $dataviz_1
			h2
				margin-bottom: 75px

		div.legend
			width: 50%
			position: absolute
			right: 0
			top: 110px
			opacity: .4
			div:first-child
				width: 70%
				float: left
				img
					width: 20px
				p
					font-weight: 600
					letter-spacing: .1em
			div:last-child
				width: 30%
				float: right
				p
					text-align: right
					font-weight: 600
					letter-spacing: .1em
					line-height: 72px

		div.fullgraph
			width: 100%
			box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
			height: 1130px
			margin-bottom: 50px
			div.leftpart
				float: left
				width: 50%
				height: 100%
				box-shadow: 0 0 3px 0 rgba(0,0,0,.5)
				z-index: 2
				div.text.noshadow
					width: 100%
					height: 166px
					h2
						margin: 0 0 0 10%
						color: $dataviz_2

			div.rightpart
				float: right
				width: 50%
				height: 100%
				
				div.full.graphitem
					height: 20%
					background: $dataviz_2

					p
						width: 100%
						height: 100%
						line-height: 226px
						text-align: center
						color: $text_color2
						letter-spacing: .1em
						opacity: .5
						+transition(.4s, ease-out, .9s)
				div.full.graphitem:nth-child(1)
					width: 60%
					+transition(.5s, ease-out, 0s)
				div.full.graphitem:nth-child(2)
					width: 80%
					+transition(.5s, ease-out, .2s)
				div.full.graphitem:nth-child(3)
					width: 10%
					+transition(.5s, ease-out, .4s)
				div.full.graphitem:nth-child(4)
					width: 20%
					+transition(.5s, ease-out, .6s)
				div.full.graphitem:nth-child(5)
					width: 30%
					+transition(.5s, ease-out, .8s)

				div.graphitem
					width: 0%
					p
						opacity: 0
						line-height: 226px

section.experiencedataviz
	background: url(../_images/back_dataviz_6.jpg) center center
	background-size: cover
	box-shadow: 0 0 3px 0 rgba(0,0,0,.5)

	div.fullscreen
		div.text
			h1
				color: $dataviz_1

section.plaintext.creditspeople
	div.fullscreen
		div.text.noshadow
			ul
				margin: 50px 0 0 10%
				padding-bottom: 50px
				li
					width: 80% 
					line-height: 180%
					font-size: 10pt
					font-weight: 600
					color: #333333

					a
						text-decoration: none
						color: $text_color
						font-size: 10pt
						font-weight: 800
						letter-spacing: 0.05em
						+transition(.2s, ease-in, 0s)
						text-align: center

					a:hover
						letter-spacing: .1em
						+transition(.3s, ease-out, 0s)

//lolilolilolilolilolilolilolilolilolilolilolilolilol

main.stupid
	width: 90%
	max-width: 1080px
	height: 300px
	position: absolute
	top: 200px
	left: 50%
	+translateX(-50%)
	
	section
		width: 50%
		margin: 0 auto
		padding-top: 25px
		background: transparent

		h1
			margin: 0 0 0 10%
			text-transform: uppercase
			font-size: 16pt
			color: $text_color2
			letter-spacing: .15em
			width: 80%

		h2
			margin: 10px 0 0 10%
			font-size: 10pt
			color: $text_color2
			letter-spacing: .15em
			font-weight: 600
			opacity: .8
			width: 80%

		p
			margin: 5px 0 0 10%
			font-size: 10pt
			color: $text_color2
			letter-spacing: .1em
			font-weight: 400
			opacity: 1

		a
			text-decoration: none
			display: block
			height: 50px
			width: 80%
			margin: 0 auto
			line-height: 50px
			text-align: center
			color: $text_color
			background: $text_color2
			font-weight: 800
			letter-spacing: .1em
			font-size: 10pt
			border-radius: 5px
			margin-top: 25px 
			box-shadow: 0 0 5px 0 rgba(0,0,0,.5)

		img
			margin: 25px 0 0 10%
			position: static
			height: 20px

img.cursor
	position: absolute
	height: 20px




//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//---------------------------------------------------------------------------------------------------FOOTER
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol



footer
	width: 100%
	height: 100px
	background: #2d323a
	position: relative
	z-index: 200

	div.ninethy
		width: 90%
		max-width: 1080px
		position: relative
		left: 50%
		+translateX(-50%)
		height: 100%

		div
			width: 33.3%
			height: 55px
			margin-top: 45px
			float: left

			img
				float: left
				width: 40px
				opacity: .5
				display: inline-block
				margin-top: -10px

			p
				color: $text_color2
				font-size: 10pt
				font-weight: 400
				letter-spacing: 0.1em
				text-align: center
				opacity: .5
				width: 80%
				margin: 0
				float: left
				display: inline-block

			a
				text-decoration: none
				color: $text_color2
				font-size: 10pt
				font-weight: 400
				letter-spacing: 0.1em
				+transition(.2s, ease-in, 0s)
				width: 50px
				display: inline-block
				text-align: center
				opacity: .5
				margin-right: 10%

			a:hover
				letter-spacing: .15em
				opacity: 1
				+transition(.3s, ease-out, 0s)

		div:last-child
			a
				text-align: right
				width: 100%
				display: block


//lolilolilolilolilolilolilolilolilolilolilolilolilol



//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol
//---------------------------------------------------------------------------------------------------MEDIA QUERIES
//lolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilolilol

@media screen and (max-width: 820px)
	p.introduction.right ~ div.img img
		left: 0%

	main section.mywork ul li a div.img img
		left: 100%

	section.mywork div.myworkfull ul li a
		box-shadow: 0 0 5px 0 rgba(0,0,0,.3)
		+transition(.2s, ease-in, 0s)

		div.colorproject
			width: 100%
			+transition(.3s, ease-out, 0s)

		p
			color: rgb(250,250,250)
			+transition(.3s, ease-out, 0s)

		p.introduction
			color: white

		h2
			color: white

	video
		display: none

@media screen and (max-width: 720px)
	
	main section div.fullscreen div.text
		width: 100%

	main section div.fullscreen div.text.righttext
		left: 0

	main section.mywork ul li a p.left
		width: 95%
		display: block

	main section.mywork ul li a p.time
		display: none

	section.plaintext
		div.fullscreen
			div.addtext
				width: 100%

	section.contribution
		div.fullscreen
			div.fullgraph
				div.leftpart
					width: 100%
					height: 100%
					box-shadow: none

				div.rightpart
					display: none

	footer div.ninethy div img
		display: none

	nav
		display: none

	button.floating
		display: none

	div.legend
		display: none

	main.stupid
		section
			width: 100%


@media screen and (max-width: 580px)
	
	p.introduction.right ~ div.img img
		display: none

	main section.mywork ul li a div.img img
		display: none

	section.mywork div.myworkfull ul li a

		p.introduction
			color: white

		h2
			color: white

@media screen and (max-width: 380px)

	nav	ul li
		display: block
		width: 100%

	p.introduction.right ~ div.img img
		left: 30%
		display: block

	main section.mywork ul li a div.img img
		left: 70%
		display: block

	section.mywork div.myworkfull ul li a

		p.introduction
			color: #333333

		h2
			color: #333333

	section#contactme
		div.fullscreen
			div.text
				div
					a
						width: 40px
						height: 40px

						img
							margin-top: 7px

@media screen and (max-width: 320px)
	
	p.introduction.right ~ div.img img
		left: 20%

	main section.mywork ul li a div.img img
		left: 80%
